html
  head
    title #{user.username}'s profile
    meta(name='description', content='Profile section')
    include includes/head.pug
    link(rel="shortcut icon", type="image/x-icon", href="./img/auth.ico")
    link(rel='stylesheet', type="text/css", href='/css/style.css')
  body
    h1 Profile Homepage
    h2#welcome Welcome, #{user.username}!
    div
      img(src=user.photo style='width:150px; border-radius:25%')
      h3= user.name
      p Email: #{JSON.stringify(user.email)}
      p Last login: #{JSON.stringify(user.last_login)}
      p Logs since register: #{JSON.stringify(user.login_count)}
      p Provider for Social Login: #{JSON.stringify(user.provider)}
      p #{JSON.stringify(user)}
      a(href='/logout') Logout
      
    include includes/littleCat.pug
    script(type='application/x-javascript', src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    script(type='application/x-javascript' src="/js/index.js")